$gray: dimgray;
$copper: #b87333;

.divider {								/* minor cosmetics */
  display: table; 
  font-size: 24px; 
  text-align: center; 
  width: 75%; 						/* divider width */
  margin: 40px auto;					/* spacing above/below */
  span {
    display: table-cell;
    position: relative;
    &:first-child, &:last-child {
      width: 50%;
      top: 13px;							/* adjust vertical align */
      -moz-background-size: 100% 2px; 	/* line width */
      background-size: 100% 2px; 			/* line width */
      background-position: 0 0, 0 100%;
      background-repeat: no-repeat;
    }
    &:first-child {				/* color changes in here */
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to($gray));
      background-image: -webkit-linear-gradient(180deg, transparent, $gray);
      background-image: -moz-linear-gradient(180deg, transparent, $gray);
      background-image: -o-linear-gradient(180deg, transparent, $gray);
      background-image: linear-gradient(90deg, transparent, $gray);
    }
    &:nth-child(2) {
      color: $gray;
      padding: 0px 5px;
      width: auto;
      white-space: nowrap;
    }
    &:last-child {				/* color changes in here */
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from($gray), to(transparent));
      background-image: -webkit-linear-gradient(180deg, $gray, transparent);
      background-image: -moz-linear-gradient(180deg, $gray, transparent);
      background-image: -o-linear-gradient(180deg, $gray, transparent);
      background-image: linear-gradient(90deg, $gray, transparent);
    }
  }
    
}