// $lightBlueFont: rgb(17, 189, 172);
// $fontDefaultColor: rgb(171, 171, 171);
// $formFocusFont: rgb(150, 196, 191);
// $darkFont: rgb(108, 106, 106);
// $mainBackground: #282c34;
// $homeBackground:#1b1b1d;
// $headerBackground:#101012;
// $boxBackground: radial-gradient(circle 600px at 100% 0,#212121,#121212);
// $headerTitle: linear-gradient(to top, rgb(0, 255, 238) 40%, rgb(1, 196, 255) 100%);
// $headerBoxShadow: 0px 2px 120px rgb(188, 255, 255);
// test commit for..

$lightBlueFont: rgb(17, 189, 172);
$fontDefaultColor: rgb(67, 67, 67);
$formFocusFont: rgb(150, 196, 191);
$darkFont: rgb(108, 106, 106);
$mainBackground: #dedede;
$homeBackground: url(./globals/bg-test.png);
// $homeBackground: url(https://i.pinimg.com/564x/f8/ac/db/f8acdb49908f0cca4f00a0a59b3dee71.jpg);
$headerBackground:#f2f2f2;
$boxBackground: radial-gradient(circle 600px at 100% 0,#eeeeee,#e4e4e4);
$headerTitle: linear-gradient(to top, rgb(0, 72, 148) 40%, rgb(1, 196, 255) 100%);
$headerBoxShadow: 0px 2px 120px rgb(254, 255, 255);

$headerHeightMobile: 75px;
$navigationHeightMobile: 60px;

$fullHd: 1180px;
$rowBreakPoint: 800px;


.home{ 
  box-sizing: border-box;

  & > * {
    box-sizing: border-box;
  }
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;

  .homeHeader{
    position: fixed;
    top: 0;
    height: $headerHeightMobile;
    width:100%;
    z-index:100;
    background: $headerBackground;
    box-shadow: $headerBoxShadow; 
    display: flex;
    padding: 15px;
    @media (min-width: 600px) {
      justify-content: center;
    }

    .homeHeaderTitle{
      width: 100%;
      background: $headerTitle;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 28px;
      font-weight: 200;
      display: flex;
      align-items: center;

      @media (min-width: 600px) {
        max-width: 600px;
      }

      .homeHeaderImage{
        height: 30px;
        width: 30px;
        margin-right: 15px;
      }
    }
  }

  .homeBody{
    width: 100%;
    padding-top: $headerHeightMobile + $navigationHeightMobile;
    background: $homeBackground;
    background-position: 50% 0;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 50px;
    // margin-left: auto;
    // margin-right: auto;
    // @media (min-width:900px){
    //   width:80%;
    // }
    @media (min-width: $fullHd) {
      width: $fullHd
    }

    .homeNavBox{
      position: fixed;
      top: $headerHeightMobile;
      height: $navigationHeightMobile;
      width: 100%;
      max-width: 600px;
      background: white;
      z-index: 100;

      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding: 0px 5px;

      a {
        display: inline-block;
        position: relative;
        height: 30px;
        padding: 0px 10px;

        color: $darkFont;
        font-size: 1rem;
        letter-spacing: 0.15em;
        text-align: right;
        text-decoration: none;
        text-transform: uppercase;
        text-transform: uppercase;
        text-decoration: none;
        &:hover{
          font-size: 1.1rem;
          color: $lightBlueFont;
        }
      }
    }

    section {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (min-width: $rowBreakPoint){
        flex-direction: row;
      }

      &:not(:nth-child(2)) {
        padding-top: 50px;
      }

      .title {
        text-align: right;
        flex: 0.5;
        h2{
          color:$darkFont;
          font-size: 30px;
          margin: 5px;

          @media (min-width: $rowBreakPoint){  
            transform: rotate(-90deg);
            transform-origin: 0 100%;
            position: absolute;
            bottom: 20%;
            left: 50px;
          }
        }
      }
      article {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        flex: 7;
        flex-direction: column;
        @media (min-width: $rowBreakPoint){
          flex-direction: row;
        }

        div {
          max-width: 100%;
          display:flex;
          align-items: flex-start;
          flex:1;
          color:$fontDefaultColor;
          h3 {
            color:$lightBlueFont;
            font-weight: 300;
            font-size: 22px;
            margin: 0;
          }
          p {
            max-width: 100%;
            text-align:right;
            padding: 20px;
            border-radius: 16px;
            box-shadow: 0 12px 24px -8px rgba(0,0,0,.8);
            background: $boxBackground;
            margin:20px;
          }
          img {
            max-width: 450px;
            margin-left: auto;
            margin-right: auto;
            @media (min-width: $rowBreakPoint){
              margin-top: 20px;
            }
          }
        }
      }
      a {
        text-decoration: underline;
        color:inherit;
        text-decoration-style: dotted;
      }
      &.me {
        .title {
          display: none;

          @media (min-width: $rowBreakPoint){
            display: block;
          }
        }
      }
      article > .projects {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
        .rightBox{
          align-items: flex-end;
          p {
            text-align: left;
            @media (min-width: $rowBreakPoint) {
              margin-top: 130px;
            }
          }
        }
        .twoContBox{
          display: flex;
          flex-direction: column;
        }
      }
      article > .skills {
        padding: 20px;
        border-radius: 16px;
        box-shadow: 0 12px 24px -8px rgba(0,0,0,.8);
        background: $boxBackground;
        margin: 20px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-end;
        img {
          width: 60px;
          margin: 10px;
        }
      }
      .contact {
        // max-width: 100%;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // flex:5;
        // flex-direction: column;
        // @media (min-width: $rowBreakPoint){
        //   flex-direction: row;
        // }
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        flex: 7;
        flex-direction: column;
        @media (min-width: $rowBreakPoint){
          flex-direction: row;
        }

        .wrapForm{
          max-width: 100%;
          text-align: left;
          padding: 20px;
          border-radius: 16px;
          box-shadow: 0 12px 24px -8px rgba(0,0,0,.8);
          background: $boxBackground;
          // background: radial-gradient(circle 600px at 100% 0,#212121,#121212);
          margin:20px;
          // flex:1;
          // z-index:3;

          h3{
            color:$lightBlueFont;
            font-weight: 300;
          }
          p{
            color: $fontDefaultColor;
            margin-bottom:-1px;
            span{
              color:red;
            }
          }
          .formNameWrap{
            display:flex;
            justify-content: space-between;
            input{
              flex-basis:46%;
            }
          }
          input{
            border-style: solid;
            border:none;
            padding: 7px;
            width:100%;
            border-radius: 3px;
            height: 40px;
            font-size: 14px;
            box-sizing: border-box;
            &:focus{
              outline: 0;
              box-shadow: inset 0px -3px $lightBlueFont;
              &::placeholder{
                color: $formFocusFont;
              }
            }
          }
          textarea{
            width: 100%;
            box-sizing: border-box;
            height: 90px;
            border: none;
            border-radius: 3px;
            font-size: 14px;
            resize: none;
            padding: 7px;
            &:focus{
              outline: 0;
              box-shadow: inset 0px -3px $lightBlueFont;
              &::placeholder{
                color: $formFocusFont;
              }
            }
          }

          #g-recaptcha {
            & > div {
              width: 238px !important;
            }

            iframe {
              width: 215px;
              .rc-anchor-container {
                width: 238px;
                .rc-anchor-content {
                  width: 150px;
                  .rc-anchor-center-item.rc-anchor-checkbox-label {
                    width: 90px;
                  }
                }
                .rc-anchor-pt {
                  width: 200px;
                }
              }
            }
          }
        }
        .contactImg{
          display: none;
          @media (min-width: $rowBreakPoint){
            display: block;
            flex:1;
            .img{
              width:250px;
              box-shadow: 0 12px 24px -8px rgba(0,0,0,.8);
              border-radius: 20px;
              z-index: 3;
            }
          }

        }
      }
    }
  }

  .homeFooter{
    border-top: 1px solid rgb(80, 80, 80);
    padding: 40px 0px;

    a{
      margin-bottom: 100px;
      position: sticky;
      color:$darkFont;
    }

    .homeFooterText{
      color:black;
      text-decoration: none;
    }
  }
}