.Layout {
  text-align: center;
}

.Layout-header,.construction {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.constructionImage{
  width:50px;
  height:auto;
}

.constructionButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:10px;
  border-radius: 20%
}

