// $lightBlueFont: rgb(17, 189, 172);
// $fontDefaultColor: rgb(171, 171, 171);
// $formFocusFont: rgb(150, 196, 191);
// $darkFont: rgb(108, 106, 106);
// $mainBackground: #282c34;
// $homeBackground:#1b1b1d;
// $headerBackground:#101012;
// $boxBackground: radial-gradient(circle 600px at 100% 0,#212121,#121212);
// $headerTitle: linear-gradient(to top, rgb(0, 255, 238) 40%, rgb(1, 196, 255) 100%);
// $headerBoxShadow: 0px 2px 120px rgb(188, 255, 255);

$lightBlueFont: rgb(17, 189, 172);
$fontDefaultColor: rgb(67, 67, 67);
$formFocusFont: rgb(150, 196, 191);
$darkFont: rgb(108, 106, 106);
$mainBackground: #dedede;
$homeBackground: url(https://i.pinimg.com/564x/f8/ac/db/f8acdb49908f0cca4f00a0a59b3dee71.jpg);
$headerBackground:#f2f2f2;
$boxBackground: radial-gradient(circle 600px at 100% 0, #c4f7ff, #ffffff);
$headerTitle: linear-gradient(to top, rgb(0, 72, 148) 40%, rgb(1, 196, 255) 100%);
$headerBoxShadow: 0px 2px 120px rgb(254, 255, 255);


.Layout {
  text-align: center;
}

.Layout-header,.construction {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.constructionImage{
  width:50px;
  height:auto;
}

.constructionButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:10px;
  border-radius: 20%
}

.home{ 
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;

  background-color: #fff;
  background-image: linear-gradient(90deg, #eae8e8 2.1px, #fbfbfb 0.1px);
  background-size: 15vw 1vw;
}

.homeHeader{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: fixed;
  background: $headerBackground;
  height:100px;
  width:100%;
  top: 0;
  box-shadow: $headerBoxShadow; 
  z-index:100;
}
.homeHeaderImage{
  /* align-self: flex-start; */
}
.homeHeaderTitle{
  margin: 15px auto 0 20px;
	background: $headerTitle;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: 200;
}
.homeNavBox{
  position: fixed;
  top: 50%;
  right:0;
  width:10%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  a {
    display: inline-block;
    position: relative;
    text-align: right;
    color: $darkFont;
    text-decoration: none;
    text-transform: uppercase;
    height:30px;
    font-size: 1rem;
    letter-spacing: 0.1em;
    padding: 5px 25px 2px 2px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    &:hover{
      font-size: 1.1rem;
      color: $lightBlueFont;
    }
    &:after {    
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 40%;
      position: absolute;
      background: $lightBlueFont;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    &:hover:after { 
      width: 100%; 
      /* right: 0;  */
    }
  }
}

    .homeBody{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 200px;
      margin-left: auto;
      margin-right: auto;
      width:80%;
      max-width: 1280px;
      // background: $homeBackground;
      // background-position: 50% 0;
      // background-size: auto;
      // background-repeat: repeat;
      // background-attachment: fixed;
      overflow: hidden;
      section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 12rem;   
        .sectionTitle {
          text-align: right;
          flex: 0.5;
          h2{
            transform: rotate(-90deg);
            transform-origin: 0 100%;
            position: absolute;
            left: 50px;
            color:$darkFont;
            font-size: 30px;
            margin: 35px;
          }
        }
        article{
          display: flex;
          justify-content: space-between;
          margin-top: 40px;
          flex:7;
          
          div{
            display:flex;
            align-items: flex-start;
            color:$fontDefaultColor;
            h3{
              color:$lightBlueFont;
              font-weight: 300;
            }
            p{
              padding: 20px;
              margin:20px;
            }
          }

          // ***** ABOUT ME *****
          .aboutMe{
            margin: auto 40px;
            text-align: left;
            border-radius: 16px;
            box-shadow: 0 12px 24px -8px rgba(0,0,0,.8);            
            // background: $boxBackground;
            background-size: contain;
            background-image: url('./Globals/js.png');
            background-repeat: no-repeat;
            background-position-x: right;

          }
          // ***** EXPERIENCE *****
          .experience{
            margin: auto 40px;
            .wrapExp{
              display:flex;
              flex-direction: column;
              flex-wrap: wrap;
              .expBox{
                text-align:left;
                border-radius: 16px;
                box-shadow: 0 12px 24px -8px rgba(0,0,0,.8);
                background: $boxBackground;
                flex-direction: column;
                margin: 10px; 
              }
              img{
                width:20%;
                margin: 30px auto 0px;
              }
              .footer{
                background:darkgray;
                color:white;
                padding: 15px;
                border-radius: 0 16px;
                box-shadow: inset -1px 1px 2px $darkFont;
              }
            }
          }
          // ***** PROJECTS *****

          .projects{
            margin: auto 40px;
            & > *{
              text-align:left;
              border-radius: 16px;
              box-shadow: 0 12px 24px -8px rgba(0,0,0,.8);
              background: $boxBackground;
              flex-direction: column;
              margin: 10px;
              h3{
                margin: 30px auto 0px 40px;
              }
            }

          }

          // ***** SKILSS *****
          .skills{
            margin: auto 40px;
            .wrapSkills{
              display:flex;
              flex-wrap: wrap;
              .skillBox{
                flex-direction: column;
                margin:20px;
                border-radius: 16px;
                box-shadow: 0 12px 24px -8px rgba(0,0,0,.8);
                background: $boxBackground;
                .title{
                  box-shadow:inset -1px -2px 3px white;
                  padding: 0 30px;
                  border-radius:16px 0;
                }
                img{
                  width:60px;
                }
              }
            }
          }
          .rightBox{
            flex-wrap:wrap;
            p{
              text-align: left;
            }
          }
        }
        .contact {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 40px;
          flex:5;
          .wrapForm{
            text-align: left;
            padding: 20px;
            border-radius: 16px;
            box-shadow: 0 12px 24px -8px rgba(0,0,0,.8);
            background: $boxBackground;
            margin:20px;
            flex:1;
            z-index:3;

            h3{
              color:$lightBlueFont;
              font-weight: 300;
            }
            p{
              color: $fontDefaultColor;
              margin-bottom:-1px;
              span{
                color:red;
              }
            }
            .formNameWrap{
              display:flex;
              justify-content: space-between;
              input{
                flex-basis:46%;
              }
            }
            input{
              border-style: solid;
              border:none;
              padding: 7px;
              width:100%;
              border-radius: 3px;
              height: 40px;
              font-size: 14px;
              box-sizing: border-box;
              &:focus{
                outline: 0;
                box-shadow: inset 0px -3px $lightBlueFont;
                &::placeholder{
                  color: $formFocusFont;
                }
              }
            }
            textarea{
              width: 100%;
              box-sizing: border-box;
              height: 90px;
              border: none;
              border-radius: 3px;
              font-size: 14px;
              resize: none;
              padding: 7px;
              &:focus{
                outline: 0;
                box-shadow: inset 0px -3px $lightBlueFont;
                &::placeholder{
                  color: $formFocusFont;
                }
              }
            }
          }
          .contactImg{
            flex:1;
            .img{
              width:250px;
              box-shadow: 0 12px 24px -8px rgba(0,0,0,.8);
              border-radius: 20px;
              z-index: 3;
            }
          }
        }
      }
    }


.homeFooter{
  background-color: white;
  border-top: 1px solid rgb(80, 80, 80);
  padding: 90px 0px;
}
.homeFooter > a{
  margin-bottom: 100px;
  position: sticky;
  color:$darkFont;
}
.homeFooterText{
  color:black;
  text-decoration: none;
}





















// .homeBody{
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin-top: 300px;
//   margin-left: auto;
//   margin-right: auto;
//   max-width: 1280px;
//   section {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 80%;
//     margin: 50px;
//     div {
//       color:rgb(205, 205, 205);
//       p{
//         flex: 1;
//         padding: 30px;
//         text-align: right;
//         border-radius: 16px;
//         box-shadow: 0 12px 24px -8px rgba(0,0,0,.8);
//         background: radial-gradient(circle 600px at 100% 0,#212121,#121212);
//         margin:20px;
//       }
//       p:nth-of-type(even){
//         margin-top: 130px;
//         text-align: left;
//       }
//     }
//     div:nth-of-type(odd){
//       flex: 1;
//       /* color:rgb(108, 106, 106); */
//       color:rgb(17, 189, 172);
//       font-size: 30px;
//       margin: 35px;
//       transform: rotate(-90deg);
//     }
    
//     .me,.experience,.projects,.skills,.contact{
//       display: flex;
//       padding-top: 80px;
//       align-items: flex-start;
//     }
//   }
// }