// $lightBlueFont: rgb(17, 189, 172);
// $fontDefaultColor: rgb(171, 171, 171);
// $formFocusFont: rgb(150, 196, 191);
// $darkFont: rgb(108, 106, 106);
// $mainBackground: #282c34;
// $homeBackground:#1b1b1d;
// $headerBackground:#101012;
// $boxBackground: radial-gradient(circle 600px at 100% 0,#212121,#121212);
// $headerTitle: linear-gradient(to top, rgb(0, 255, 238) 40%, rgb(1, 196, 255) 100%);
// $headerBoxShadow: 0px 2px 120px rgb(188, 255, 255);

$lightBlueFont: rgb(17, 189, 172);
$fontDefaultColor: rgb(67, 67, 67);
$formFocusFont: rgb(150, 196, 191);
$darkFont: rgb(108, 106, 106);
$mainBackground: #dedede;
$homeBackground: url(./Globals/bg-test.png);
// $homeBackground: url(https://i.pinimg.com/564x/f8/ac/db/f8acdb49908f0cca4f00a0a59b3dee71.jpg);
$headerBackground:#f2f2f2;
$boxBackground: radial-gradient(circle 600px at 100% 0,#eeeeee,#e4e4e4);
$headerTitle: linear-gradient(to top, rgb(0, 72, 148) 40%, rgb(1, 196, 255) 100%);
$headerBoxShadow: 0px 2px 120px rgb(254, 255, 255);


// .Layout {
//   text-align: center;
// }

// .Layout-header,.construction {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .constructionImage{
//   width:50px;
//   height:auto;
// }

// .constructionButton{
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   padding:10px;
//   border-radius: 20%
// }

.home{ 
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;

  .homeHeader{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
    background: $headerBackground;
    @media (min-width:395px){
      height:100px;
    }
    width:100%;
    top: 0;
    box-shadow: $headerBoxShadow; 
    z-index:100;
    .homeHeaderTitle{
      .homeHeaderImage{
        height: 30px;
        width: 30px;
        margin-right: 15px;
      }
      margin: 15px auto 0 20px;
      background: $headerTitle;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 40px;
      font-weight: 200;
    }
  }

  .homeBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width:900px){
      width:80%;
    }
    max-width: 1280px;
    background: $homeBackground;
    background-position: 50% 0;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    overflow: hidden;
    .homeNavBox{
      position: fixed;
      @media (min-width:1200px){
        background: none;
        z-index: inherit 0;
        width:10%;
        top: 50%;
        bottom:auto
      }
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      z-index: 100;
      background: white;
      top:auto;
      bottom:0;
      right:0;
      display: flex;
      flex-direction: column;
      /* border: 1px solid black; */
      margin-bottom: 20px;
      a {
        display: inline-block;
        position: relative;
        text-align: right;
        color: $darkFont;
        text-decoration: none;
        text-transform: uppercase;
        height:30px;
        font-size: 1rem;
        letter-spacing: 0.1em;
        padding: 5px 25px 2px 2px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.15em;
        &:hover{
          font-size: 1.1rem;
          color: $lightBlueFont;
          /* color:  rgb(165, 165, 165); */
          /* background: rgba(63, 63, 63, 0.125); */
        }
        &:after {    
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 2px;
          left: 40%;
          position: absolute;
          background: $lightBlueFont;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }
        &:hover:after { 
          width: 100%; 
          /* right: 0;  */
        }
      }
    }
    section {
      position: relative;
      display: flex;
      @media (min-width:500px){
        flex-direction: row;
      }
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-top:100px;
      .title {
        text-align: right;
        flex: 0.5;
        h2{
          @media (min-width:500px){  
            transform: rotate(-90deg);
            transform-origin: 0 100%;
            position: absolute;
            bottom: 20%;
            left: 50px;
          }
          color:$darkFont;
          font-size: 30px;
          margin: 35px;
        }
      }
      article{
        display: flex;
        justify-content: space-between;
        flex:7;
        @media (min-width:500px){
          flex-direction: row;
        }
        flex-direction: column;
        
        div{
          display:flex;
          align-items: flex-start;
          flex:1;
          color:$fontDefaultColor;
          h3{
            color:$lightBlueFont;
            font-weight: 300;
          }
          p{
            text-align:right;
            padding: 20px;
            border-radius: 16px;
            box-shadow: 0 12px 24px -8px rgba(0,0,0,.8);
            background: $boxBackground;
            margin:20px;
          }
          img{
            @media (min-width:500px){
              margin-left: auto;
            }
            margin-left: 20px;
          }
        }
        .skills{
          .wrapSkills{
            display:flex;
            .skillsBox{
              text-align:right;
              padding: 20px;
              border-radius: 16px;
              box-shadow: 0 12px 24px -8px rgba(0,0,0,.8);
              background: $boxBackground;
              margin:20px;
              img{
                width:30px;
              }
            }
          }
        }
        .projects{
          .rightBox{
            align-items: flex-end;
            p{
              margin-top: 130px;
              text-align: left;
            }
          }
          display:flex;
          flex-wrap:wrap;
          justify-content: space-evenly;
          .twoContBox{
            display: flex;
            flex-direction: column;
          }
        }
      }
      .contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex:5;
        @media (min-width:500px){
          flex-direction: row;
        }
        flex-direction: column;
        .wrapForm{
          text-align: left;
          padding: 20px;
          border-radius: 16px;
          box-shadow: 0 12px 24px -8px rgba(0,0,0,.8);
          background: $boxBackground;
          // background: radial-gradient(circle 600px at 100% 0,#212121,#121212);
          margin:20px;
          flex:1;
          z-index:3;

          h3{
            color:$lightBlueFont;
            font-weight: 300;
          }
          p{
            color: $fontDefaultColor;
            margin-bottom:-1px;
            span{
              color:red;
            }
          }
          .formNameWrap{
            display:flex;
            justify-content: space-between;
            input{
              flex-basis:46%;
            }
          }
          input{
            border-style: solid;
            border:none;
            padding: 7px;
            width:100%;
            border-radius: 3px;
            height: 40px;
            font-size: 14px;
            box-sizing: border-box;
            &:focus{
              outline: 0;
              box-shadow: inset 0px -3px $lightBlueFont;
              &::placeholder{
                color: $formFocusFont;
              }
            }
          }
          textarea{
            width: 100%;
            box-sizing: border-box;
            height: 90px;
            border: none;
            border-radius: 3px;
            font-size: 14px;
            resize: none;
            padding: 7px;
            &:focus{
              outline: 0;
              box-shadow: inset 0px -3px $lightBlueFont;
              &::placeholder{
                color: $formFocusFont;
              }
            }
          }
        }
        .contactImg{
          @media (max-width:499px){
            visibility:hidden;
            height:0px;
          }
          flex:1;
          .img{
            width:250px;
            box-shadow: 0 12px 24px -8px rgba(0,0,0,.8);
            border-radius: 20px;
            z-index: 3;
          }
          // .icon{
          //   position: absolute;
          //   top:200px;
          //   left:550px;
          //   width: 400px;
          // }
        }
      }
      a{
        text-decoration: underline;
        color:inherit;
        text-decoration-style: dotted;
      }
    }
  }

  .homeFooter{
    border-top: 1px solid rgb(80, 80, 80);
    padding: 60px 0px;
    a{
      margin-bottom: 100px;
      position: sticky;
      color:$darkFont;
    }
    .homeFooterText{
      color:black;
      text-decoration: none;
    }
  }
}
